Create Database QuanlyOto
Go
USE [QuanlyOto]
GO
/****** Object:  Table [dbo].[Hang]    Script Date: 02/11/2023 2:54:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hang](
	[TenHang] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 02/11/2023 2:54:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nchar](10) NOT NULL,
	[NgayGD] [date] NULL,
	[TongTien] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 02/11/2023 2:54:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[Username] [varchar](50) NOT NULL,
	[MaKH] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Diachi] [nchar](200) NULL,
	[SDT] [varchar](50) NULL,
 CONSTRAINT [PK__KhachHan__A11ED91435ED7D1E] PRIMARY KEY CLUSTERED 
(
	[Username] ASC,
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 02/11/2023 2:54:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Username] [varchar](50) NOT NULL,
	[MaNV] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[MatKhau] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Sdt] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 02/11/2023 2:54:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](50) NOT NULL,
	[TenSP] [varchar](50) NULL,
	[Hang] [varchar](50) NULL,
	[Mau] [varchar](50) NULL,
	[Gia] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamDuocMua]    Script Date: 02/11/2023 2:54:19 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamDuocMua](
	[id] [int] NOT NULL,
	[MaHD] [nvarchar](50) NULL,
	[MaSP] [nvarchar](50) NULL,
	[ThanhTien] [bigint] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_SanPhamDuocMua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Hang] ([TenHang]) VALUES (N'toyota')
INSERT [dbo].[Hang] ([TenHang]) VALUES (N'lamborghini')
INSERT [dbo].[Hang] ([TenHang]) VALUES (N'vinfast')
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayGD], [TongTien]) VALUES (N'FobvrrwDSl', CAST(N'2023-10-29' AS Date), 43000000000)
INSERT [dbo].[HoaDon] ([MaHD], [NgayGD], [TongTien]) VALUES (N'Fhqx      ', CAST(N'2023-11-01' AS Date), 13300000000)
INSERT [dbo].[HoaDon] ([MaHD], [NgayGD], [TongTien]) VALUES (N'kqlmnhD   ', CAST(N'2023-11-01' AS Date), 2400000000)
GO
INSERT [dbo].[KhachHang] ([Username], [MaKH], [HoTen], [GioiTinh], [NgaySinh], [MatKhau], [Diachi], [SDT]) VALUES (N'alex', N'006', N'Alex', N'Nam', CAST(N'1993-12-05' AS Date), N'pass123', NULL, NULL)
INSERT [dbo].[KhachHang] ([Username], [MaKH], [HoTen], [GioiTinh], [NgaySinh], [MatKhau], [Diachi], [SDT]) VALUES (N'david', N'010', N'David', N'Nam', CAST(N'1996-08-08' AS Date), N'hello123', NULL, NULL)
INSERT [dbo].[KhachHang] ([Username], [MaKH], [HoTen], [GioiTinh], [NgaySinh], [MatKhau], [Diachi], [SDT]) VALUES (N'doejohn', N'004', N'Doe John', N'Nam', CAST(N'1995-09-10' AS Date), N'qwerty', NULL, NULL)
GO
INSERT [dbo].[NhanVien] ([Username], [MaNV], [HoTen], [GioiTinh], [NgaySinh], [MatKhau], [DiaChi], [Sdt]) VALUES (N'Dinhvu', N'NV04', N'Dương Đình Vũ', N'Nam', CAST(N'2004-01-01' AS Date), N'111', N'Binh Thuan', N'0123456789')
INSERT [dbo].[NhanVien] ([Username], [MaNV], [HoTen], [GioiTinh], [NgaySinh], [MatKhau], [DiaChi], [Sdt]) VALUES (N'HoangAnh', N'NV07', N'Võ Hoàng Anh', N'Nam', CAST(N'2004-01-01' AS Date), N'222', N'Ben Tre', N'0123456789')
INSERT [dbo].[NhanVien] ([Username], [MaNV], [HoTen], [GioiTinh], [NgaySinh], [MatKhau], [DiaChi], [Sdt]) VALUES (N'Hunganh', N'NV01', N'Phan Hùng Anh', N'Nam', CAST(N'2004-04-07' AS Date), N'123', N'Khanh Hoa', N'0123456789')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Hang], [Mau], [Gia]) VALUES (N'001', N'Aventador', N'Lamborghini', N'Red', 43000000000)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Hang], [Mau], [Gia]) VALUES (N'002', N'Urus', N'Lamborghini', N'Blue', 5000000000)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [Hang], [Mau], [Gia]) VALUES (N'003', N'Huracan', N'Lamborghini', N'Orange', 13300000000)
GO
INSERT [dbo].[SanPhamDuocMua] ([id], [MaHD], [MaSP], [ThanhTien], [SoLuong]) VALUES (1, N'FobvrrwDSl', N'001', 43000000000, 1)
INSERT [dbo].[SanPhamDuocMua] ([id], [MaHD], [MaSP], [ThanhTien], [SoLuong]) VALUES (2, N'Fhqx', N'003', 13300000000, 1)
INSERT [dbo].[SanPhamDuocMua] ([id], [MaHD], [MaSP], [ThanhTien], [SoLuong]) VALUES (3, N'kqlmnhD', N'004', 2400000000, 2)
GO
